/** Global Settings *** */
/* line 3 */
body {
  font: normal 12px/1.6em Helvetica, Arial, sans-serif;
  color: #2a3845;
  margin: 0;
  padding: 0;
  background: white;
}

/* line 10 */
p {
  margin: 0;
  padding: 0;
}

/* line 15 */
a:visited, a:link {
  color: #a43b55;
  text-decoration: underline;
  background: none;
}
/* line 19 */
a:hover {
  color: #a43b55;
  text-decoration: none;
  background: none;
}

/* line 24 */
h1 {
  color: #7a2e40;
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px;
  font: normal 17px Georgia, serif;
  border-bottom: 1px solid #efece7;
}

/* line 31 */
h2 {
  color: #7a2e40;
  margin: 20px 0 10px;
  padding-bottom: 10px;
  font: normal 17px Georgia, serif;
  border-bottom: 1px solid #efece7;
}

/* line 38 */
h3 {
  color: #7a2e40;
  margin: 10px 0;
  padding-bottom: 10px;
  font: bold 14px Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #efece7;
}

/* line 45 */
ul {
  padding: 0;
  margin: 0 0 0 17px;
  list-style: square url(images/bullet.gif);
}

/* line 50 */
.box {
  background: #f7f7f7;
  border: 1px solid #f0e9eb;
  padding: 15px;
}

/** Layout *** */
/* line 57 */
#wrapper {
  margin: 0 auto;
  width: 776px;
  border-left: 1px solid #f0e9eb;
  border-right: 1px solid #f0e9eb;
}

/* line 63 */
#header {
  margin: 0 1px;
}

/* line 66 */
#bg {
  height: 36px;
  background: url(images/bg.gif) repeat-x;
}

/* line 70 */
#nav {
  background: #7a2e40;
  padding: 10px 20px;
  text-align: right;
  color: #f6dde3;
}
/* line 76 */
#nav a:visited, #nav a:link {
  text-decoration: none;
  color: #f6dde3;
}
/* line 79 */
#nav a:hover {
  text-decoration: underline;
  color: #f6dde3;
}

/* line 83 */
#main-content {
  margin: 0 auto;
}

/* line 86 */
#logo {
  margin-bottom: 45px;
}

/* line 89 */
.logotxt1 {
  font: normal 18px Georgia, serif;
  color: #fa7393;
  margin: 10px 0 0 15px;
}

/* line 94 */
.logotxt2 {
  font: normal 18px Georgia, serif;
  color: #7a2e40;
}

/* line 98 */
#left-column {
  width: 440px;
  padding: 0 30px 30px;
  float: left;
}

/* line 103 */
#right-column {
  width: 270px;
  float: right;
}

/* line 108 */
.crd a:visited, .crd a:link, .crd a:hover {
  text-decoration: none;
  color: #2a3845;
  cursor: text;
}

/* line 113 */
#footer {
  background: #f7f7f7;
  border-top: 1px solid #f0e9eb;
  padding: 10px 15px;
  clear: both;
}

/** SideBAR ** */
/* line 121 */
#main-image {
  text-align: center;
}

/* line 124 */
.sidebar {
  width: 218px;
  margin: 0 auto;
  padding: 10px 25px;
  background: url(images/shadow.jpg) no-repeat top;
}
