%ul
  %li
    %h3
      = link_to 'Google grupp', 'http://groups.google.com/group/rubyee'
      = link_to 'rss', 'http://groups.google.com/group/rubyee/feed/atom_v1_0_msgs.xml?num=50', 
        :class => 'feed'

    %p Join with our official list, you can use English and Estonian.

  %li
    %h3
      = link_to 'Facebook group', 'https://www.facebook.com/groups/540371525976518'
      = link_to 'rss', 'https://www.facebook.com/groups/540371525976518', 
        :class => 'feed'
    %p Join to our Facebook group.

.clearfix
