%ul
  - data.members.each do |company|
    %li
      %h2
        = text_or_link_to(company.name, company.url)
      %ul
        - company.people.each do |person|
          %li
            = text_or_link_to(person.name, person.url)
