- @layout = 'en'
.clearfix

#top.front
  %h1 Estonia Ruby User Group

  %p
    We are <a href='http://ruby-lang.org'><b>Ruby programming language</b></a> users and 
    enthusiasts in Estonia. Rubyest has forty programmers from fifteen companies.

.clearfix

#news
  %p
    Ruby is becoming popular among developers in Estonia and our goal is to help
    people even more to engage and exchange with ruby technology and knowledge.

  %h2 We have regular seminars
  
  %p 
    It's a pleasure to invite you to join our regular meetups. 
    Please read more about it at our
    <a href='/meetup'>meetup's page</a>.
  
  %h2 We are open
  %p
    You are welcome to join with our usergroup regardless the level of ruby you have at the moment.
    %br
    You can start engaging by jonining with our
    = link_to 'official email list.', 'http://groups.google.com/group/rubyee'
    Welcome! 

.channels
  = partial 'channels'
