.box
  %h1 Ruby  
  %p

%h2 Kuidas ise uuendada ruby.ee lehte?
%p
  = img 'dog.jpg', :align => 'left', :class => 'image'
  Kogu lehe sisu asub githubis, <a href='http://github.com/priit/rubyee'>rubyee</a>
  hoidlas. Loo kloon ja salvesta täiendused ning teavita githubis uuendustest.
%p 
  Lehe haldamiseks kasutame <a href='http://staticmatic.rubyforge.org/'>Staticmatic</a>
  generaatorit, mis on igati progeja sõbralik tööriist.

