.box
  %h1 Uus Ruby leht  
  %p 
    Rõõm on teatad, et oleme ringiga tagasi staatilise lehe juuresi ning
    kasutame suht lahedat ruby 
    <a href='http://staticmatic.rubyforge.org'>Staticmatic</a> generaatorit.

  %p
    Ruby on tänapäeval tugevalt populaarsust võitnud ning 
    kasutajate arv kasvamas jõudsalt. Seega on tekkinud vajadus luua 
    parem ülevaade Eesti tegijatest ja firmadest. Selleks sai loodud lehed
    nagu <a href='/inimesed'>inimesed</a> ja <a href='/firmad'>firmad</a>,
    kuhu paneme kirja siis kõik aktiivsed tegijad. 

  %p
    Uued inimesed on alati oodatud olenemata kas oled algaja või juba profesionaal. <b>Tere tulemast!</b>


%h2 Kuidas uuendada ruby.ee lehte?
%p
  = img 'dog.jpg', :align => 'left', :class => 'image'
  Kogu lehe sisu asub githubi <a href='http://github.com/priit/rubyee'>rubyee</a>
  hoidlas. Loo kloon ja salvesta täiendused ning teavita githubis uuendustest.
%p 
  Lehe haldamiseks kasutame hetkel ruby <a href='http://staticmatic.rubyforge.org/'>Staticmatic</a>
  generaatorit. Seega nii sisu kui ka visaalse disaini täienduste puhul on git clone sinu sõber.
  
%p 
  Ruby.ee on avatud ka suurematale muudatustele, ala oma foorum jne. Ainuke
  tingimus, et kes käib idee välja, peab leidma jõudu ja tahet seda arendada, sest paljud meist on
  tööga siiski väga hõivatud.
