.clearfix

#top.front
  %h1 Eesti Ruby Arendajad

  %p
    Oleme <b>Ruby programmeerimiskeele</b> kasutajad ja entusiastid Eestis. Ühe mütsi alla on koondunud kuusteist
    arendajat üheksast ettevõttest.
.clearfix

#news

  %h2 Uus Ruby leht
  
  %p 
    Rõõm on teatada, et oleme ringiga tagasi staatilise lehe juures ning
    kasutame suht lahedat ruby 
    <a href='http://staticmatic.rubyforge.org'>Staticmatic</a> generaatorit.
  
  %p
    Ruby on tänapäeval tugevalt populaarsust võitnud ning 
    kasutajate arv kasvamas jõudsalt. Seega on tekkinud vajadus luua 
    parem ülevaade Eesti tegijatest ja firmadest. Selleks sai loodud lehed
    nagu <a href='/inimesed'>inimesed</a> ja <a href='/firmad'>firmad</a>,
    kuhu paneme kirja siis kõik aktiivsed tegijad. 
  
  %p
    Uued inimesed on alati oodatud olenemata kas oled algaja või juba profesionaal. Tere tulemast!

.channels
  = partial 'suhtluskanalid'
