.clearfix

#top.front
  %h1 Eesti Ruby Arendajad

  %p
    Oleme <b>Ruby programmeerimiskeele</b> kasutajad ja entusiastid Eestis. 
    Ühe mütsi alla on koondunud kaheksateist arendajat kümnest ettevõttest.
.clearfix

#news

  %p
    Ruby on tänapäeval tugevalt populaarsust võitnud ning 
    kasutajate arv jõudsalt kasvamas. Rubyest eesmärk on aidata kaasa tegijate arengule, 
    teadmiste vahetamisele ja ruby levikule. 

  %h2 Rubyest seminarid
  
  %p 
    Rõõm on teatada, et korraldame iga kvartal ühe seminari 
    koos pubiõhtuga, lähemalt palun loe
    <a href='/seminar'>seminari infolehelt</a>.
  
  %h2 Rubyest on avatud
  %p
    Uued inimesed on alati oodatud olenemata kas oled algaja või 
    juba profesionaal. 
    %br
    Ülevaate juba liitunud inimestest leiad
    = link_to 'liikmete lehelt', '/inimesed'

.channels
  = partial 'suhtluskanalid'
