#top
  %h1
    %span.iconic i
    Kuidas uuendada ruby.ee lehte?

.mar-20
  %p
    Kogu lehe sisu asub githubi <a href='http://github.com/priit/rubyee'>rubyee</a>
    hoidlas. Loo kloon ja salvesta täiendused ning teavita githubis uuendustest.
  %p 
    Lehe haldamiseks kasutame hetkel ruby <a href='http://staticmatic.rubyforge.org/'>Staticmatic</a>
    generaatorit. Seega nii sisu kui ka visaalse disaini täienduste puhul on git clone sinu sõber.
    
  %p 
    Ruby.ee on avatud ka suurematale muudatustele, ala oma foorum jne. Ainuke
    tingimus, et kes käib idee välja, peab leidma jõudu ja tahet seda arendada, sest paljud meist on
    tööga siiski väga hõivatud.
