- @layout = 'en'

#top
  %h1
    %span.iconic i
    Rubyest meetup: RubyKino

.mar-20
  %p
    Our meetup's aim is to engage people and exchange ruby technology and knowledge.
    Rubyest meetup is originally inspired by Barcelona on Rails and London LRUG meetups. 

  -#%h2 Seminar topics
  -#%p
    -#Most meetup topics are related to ruby programming, however we welcome other topics
    -#as long as it is interesting for ruby people. You are welcome to make a presentation, 
    -#please email to 
    -#= link_to 'Priit Haamer', 'mailto:priit@fraktal.ee'

  -#%h2 Regular schedule
  -#%p
    -#Currently we are organizing meetups four times in year - <br> 
    -#Spring (May), Summer (August), Autumn (November) and Winter (February). 
    -#%br
    -#Meetup takes place 
    -#<b>on the second Friday of the month starting 18:30 (18:00 at Summer)</b>.

  -#%h2 Place
  -#%p
    -#Seminar takes place at Estonia IT College
    -#%br
    -#<b>Room 227</b>
    -#%br
    -#<b>Raja 4C</b>
    -#%br
    -#12616 Tallinn
  -#-#= partial 'meetup-map'
  -#%p
    -#= img 'itcollege.jpg'

  -#%h2 Pub time
  -#%p
    -#After the seminar we go for a beer at
    -#= link_to 'Nõmme pub', 'http://www.nommepubi.ee'
    -#(Jaama 2, Nõmme).

  %h2 Invitations
  %p
    Before every meetup <b>we send an invitation to our</b>
    = link_to 'official list', 'http://groups.google.com/group/rubyee'
    so please follow it, thank you!

  
