- @layout = 'en'

#top
  %h1
    %span.iconic i
    Rubyest meetup

.mar-20
  %p{:style => 'color: red'}
    Summer meetup 2012 will have a new date: Friday 7.09.2012 at 18:00 o'clock

  %p
    Our meetup's aim is to engage people and exchange ruby technology and knowledge.
    Rubyest meetup is inspired by Barcelona on Rails and London LRUG meetups. 

  %h2 Seminar topics
  %p
    Most meetup topics are related to ruby programming, however we welcome other topics
    as long as it is interesting for ruby people. You are welcome to make a presentation, 
    please email to 
    = link_to 'Priit', 'mailto:priit@gitnation.com'

  %h2 Regular schedule
  %p
    Currently we are organizing meetups four times in year - <br> 
    Spring (May), Summer (August), Autumn (November) and Winter (February). 
    %br
    Meetup takes place 
    <b>on the second Friday of the month starting 18:30 (18:00 at Summer)</b>.

  %h2 Place
  %p
    Seminar takes place at Estonia IT College
    %br
    <b>Room 227</b>
    %br
    <b>Raja 4C</b>
    %br
    12616 Tallinn
  -#= partial 'meetup-map'
  %p
    = img 'itcollege.jpg'

  %h2 Pub time
  %p
    After the seminar we go for a beer at
    = link_to 'Nõmme pub', 'http://www.nommepubi.ee'
    (Jaama 2, Nõmme).

  %h2 Invitations
  %p
    Before every meetup <b>we send an invitation to our</b>
    = link_to 'official list', 'http://groups.google.com/group/rubyee'
    so please follow it, thank you!

  %h2 Contact info
  %p
    You are welcome to use our list for feedback and suggestions. 
    %br
    However, you can contact directly to our main organizer: 
  %ul
    %li Priit Tamboom 
    %li skype: priit.tamboom
    %li phone: +372 56 202 386
    %li email: priit@gitnation.com

    
