- @layout = 'en'

#top
  %h1
    %span.iconic u
    Ruby programmers in Estonia

.mar-20.inimesed
  = partial 'inimesed'

.add_box
  = link_to 'Add yourself to this list', 'http://github.com/priit/rubyee'
