#top
  %h1
    %span.iconic i
    Rubyest seminar

.mar-20
  %p
    Seminari idee on inspireeritud Barcelona on Rails ja Londoni LRUGi kokkusaamistest. 
    Eesmärk on aidata kaasa ruby teadmiste leviku ja erialase kontaktide loomisele.

  %h2 Seminari teemad
  %p
    Ettekanded on enamasti otseselt seotud ruby programmeerimisega aga tere tulnud on ka
    kaudselt seotud teemad. 
    %br
    Peaasi, et ettekande teema pakuks huvi just rubyiga igapävaselt tegelevatele inimestele.

  %h2 Osavõtjad
  %p
    Kokku tulevad ruby asjatundjad, alustajad ja üliõpilased. 

  %h2 Ürituste aeg
  %p
    Esialgsete plaanide kohaselt korraldame seminare neli korda aastas ehk<br> jaanuari,
    aprilli, juuli ja oktoobri <b>teisel neljapäeval algusega 18:30</b>. 

  %h2 Asukoht
  %p
    Seminar toimub Eesti Infotehnoloogia Kolledži uues hoones, täpsemalt:
    %br
    <b>Ruum 209</b>
    %br
    <b>Raja 4C</b>
    %br
    12616 Tallinn
  = partial 'meetup-map'
  %p
    = img 'itcollege.jpg'

  %h2 Pubiõhtu
  %p
    Peale seminari suundume lähedal asuvasse
    = link_to 'Kannu Kõrtsi', 'http://www.restoranid.ee/index.php?id=10547'
    (Kadaka tee 183).

  %h2 Täpsem teavitus
  %p
    Iga seminari kohta saadame kutse    
    = link_to 'rubyest listi,', 'http://groups.google.com/group/rubyee'
    seega hoidke listil silm peal ja kohtumiseni seminaril!
