#map{:style => 'width: 500px; height: 300px'}

%script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAHDJazV2UZM0YLGucJjVOgBRji0hwCt4344Dwz6gZp4KhH9A9WhScsP0Mdqs9SYfZ90ZpxXa1G_GHQA", :type => 'text/javascript'}

%script{:type => 'text/javascript'}
  if (GBrowserIsCompatible()) {
  var map = new GMap2(document.getElementById("map"));
  map.addControl(new GSmallMapControl());
  map.addControl(new GMapTypeControl());
  map.setCenter(new GLatLng(59.395357,24.664317), 14);

  var icon = new GIcon();
  icon.image = "http://labs.google.com/ridefinder/images/mm_20_red.png";
  icon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
  icon.iconSize = new GSize(12, 20);
  icon.shadowSize = new GSize(22, 20);
  icon.iconAnchor = new GPoint(6, 20);
  icon.infoWindowAnchor = new GPoint(5, 1);
  
  var point = new GLatLng(59.395357,24.664317);
  map.addOverlay(new GMarker(point, icon));
  }
