---
layout: layouts/en
---

.clearfix

#top.front.row.py-5
  .col-md-7.d-md-flex.justify-content-center.align-items-center.p-5
    %h1 Estonia Ruby User Group
  .col-md-4.d-md-flex.text-md-end.justify-content-end.align-items-center.p-5
    %p
      We are <a href='http://ruby-lang.org' class='text-nowrap'><b>Ruby programming language</b></a><br> users and
      enthusiasts in Estonia.

.clearfix

#news.row
  %p.p-3
    We’d be happy to have you join our user group, no matter your current level of Ruby expertise!
    Everyone is welcome.
    %br
    You can start engaging by

  %ul
    %li
    \- coming to our
    = link_to 'monthly meetup "Ruby Tuesday"', 'https://www.facebook.com/events/567859572444901', target: "_blank"
    every last Tuesday of the month
    %li
    \- joining our
    = link_to 'mailing list.', 'http://groups.google.com/group/rubyee', target: "_blank"
    %li
    \- joining our
    = link_to 'Facebook group.', 'https://www.facebook.com/groups/540371525976518', target: "_blank"

  %p.p-3
    We aim to bring people together that share our interest in ruby as a programming
    language.
    We keep a directory of people, companies and projects that use Ruby now.

    We see our meetup as part of a wider international community.


.channels.row
  .col-12
    = partial 'partials/channels'
