.clearfix

#top.front.row.py-5
  .col-md-7.d-md-flex.justify-content-center.align-items-center.p-5
    %h1 Eesti Ruby Arendajad
  .col-md-4.d-md-flex.text-md-end.justify-content-end.align-items-center.p-5
    %p
      Oleme <b>Ruby programmeerimiskeele</b> <br> kasutajad ja entusiastid.

.clearfix

#news.row
  .col-12
    %p
      Ruby programmeerimiskeel r천hutab arendajate 
      %b tootlikkust ja rahulolu.
      Meie liikmed saavutavad v채ikestes meeskondades suuri tulemusi, luues lahendusi, mida kasutab iga Eesti kodanik ja paljud inimesed v채lismaal.
    %p
      Uued inimesed on alati oodatud, olenemata sellest, kas oled algaja v천i professionaal.
      %br
      Astu esimene samm ja liitu meie 
      = link_to 'listiga!', 'http://groups.google.com/group/rubyee'

.channels.row
  .col-12
    = partial 'partials/suhtluskanalid'
