.clearfix

#top.front
  %h1 Eesti Ruby Arendajad

  %p
    Oleme <b>Ruby programmeerimiskeele</b> kasutajad ja entusiastid Eestis.
    Ühe mütsi alla on koondunud nelikümmend arendajat viieteistkümnest ettevõttest.
.clearfix

#news

  %p
    Ruby on tänapäeval tugevalt populaarsust võitnud ning
    kasutajate arv jõudsalt kasvamas. Rubyest eesmärk on aidata kaasa
    teadmiste vahetamise ja ruby arengule.

  %h2 RubyKino üritused

  %p
    Korraldame iga kvartal ühe RubyKino
    koos jookide ja porganditega, lähemalt: <a href='http://rubykino.com'>RubyKino</a>.

  %h2 Rubyest on avatud
  %p
    Uued inimesed on alati oodatud olenemata kas oled algaja või
    juba profesionaal.
    %br
    Astu esimene samm ja liitu meie
    = link_to 'listiga.', 'http://groups.google.com/group/rubyee'
    Tere tulemast!

.channels
  = partial 'partials/suhtluskanalid'
