---
title: 'Eesti Ruby inimesed'
---

#top
  %h1
    Ruby inimesed Eestis

.mar-20.inimesed
  = partial 'partials/inimesed'

.add_box
  = link_to 'Lisa ennast siia nimekirja', 'http://github.com/priit/rubyee'
