---
layout: layouts/en
---

#top
  %h1
    Rubyest meetup: RubyKino

.mar-20
  %p
    Our meetup's aim is to engage people and exchange ruby technology and knowledge.
    Rubyest meetup is originally inspired by Barcelona on Rails and London LRUG meetups.

  %h2 Invitations
  %p
    Before every meetup <b>we send an invitation to our</b>
    = link_to 'official list', 'http://groups.google.com/group/rubyee'
    so please follow it, thank you!

