#top
  %h1
    Rubyest seminar

.mar-20
  %p
    Seminari idee on inspireeritud Barcelona on Rails ja Londoni LRUGi kokkusaamistest.
    Eesmärk on aidata kaasa ruby teadmiste leviku ja erialase kontaktide loomisele.

  -#%h2 Seminari teemad
  -#%p
    -#Ettekanded on enamasti otseselt seotud ruby programmeerimisega aga tere tulnud on ka
    -#kaudselt seotud teemad.
    -#%br
    -#Peaasi, et ettekande teema pakuks huvi just rubyiga igapävaselt tegelevatele inimestele.

  -#%h2 Toimumise aeg
  -#%p
    -#Seminar toimub neli korda aastas ehk kevadel (mai), suvel (august), sügisel (november) ja talvel (veebruar).<br> Täpsemalt antud kuude <b>teisel reedel algusega 18:30 (suvel 18:00)</b>.

  -#%h2 Registreerumine
  -#%p
    -#Kokku tulevad ruby asjatundjad, alustajad ja üliõpilased.
    -#%br
    -#Me palume seminarist osavõtjatel ennast
    -#= link_to 'registreerida', '/registreerumine'
    -#, tänud!

  -#%h2 Asukoht
  -#%p
    -#Seminar toimub Eesti Infotehnoloogia Kolledži uues hoones, täpsemalt:
    -#%br
    -#<b>Ruum 227</b>
    -#%br
    -#<b>Raja 4C</b>
    -#%br
    -#12616 Tallinn
  -#-#= partial 'partials/meetup-map'
  -#%p
    -#= img 'itcollege.jpg'

  -#%h2 Pubiõhtu
  -#%p
    -#Peale seminari suundume lähedal asuvasse
    -#= link_to 'Nõmme pubisse', 'http://www.nommepubi.ee'
    -#(Jaama 2, Nõmme).

  %p
    Hetkel seminare ei toimu, kes soovib korraldada, andke soovist teada
    = link_to 'rubyest listis,', 'http://groups.google.com/group/rubyee'
