#top
  %h1
    Rubyest seminar

.mar-20
  %p
    Seminari idee on inspireeritud Barcelona on Rails ja Londoni LRUGi kokkusaamistest.
    Eesmärk on aidata kaasa ruby teadmiste leviku ja erialase kontaktide loomisele.

  %p
    Hetkel seminare ei toimu, kes soovib korraldada, andke soovist teada
    = link_to 'rubyest listis,', 'http://groups.google.com/group/rubyee'
